@import "./custom_colors";


.navbar-logged{
    background-color: $custom-purple;
     .navbar-menu{
        background-color: $custom-purple;
    }

    .drop{
        position: relative;
        bottom: 10px;
        left: 250px;
    }

    .button{
        width: 130px;
    }

    .logo{
        position: relative;
        right: 130px;
    }

    .drop-menu{
        position: relative;
        left: 60px;
    }
   }

nav.navbar {
    height: 70px;
    border-bottom: 1px solid black;

.navbar-brand {
    img {
        height: 40px;
        margin-top:15px;
    }
}
.navbar-menu{
    .button, is-white, has-text-danger{
        top: 10px;
    }

    .register-nav{
        left: 350px;
    }

    .login-nav{
        left: 190px;
    }
}
}

@media(max-width: 600px){

    nav.navbar {
        height: 70px;
        border-bottom: 1px solid black;
    
    .navbar-brand {
        position: relative;
        bottom: 5px;

        img {
            height: 40px;
            padding-bottom: 10px;
            margin-top: 0;
        }

        .navbar-burger, burger{
            bottom: 10px;
        }
    }

    .navbar-menu{
        position: relative;
        height: 180px;
        bottom: 30px;

        .button, is-white, has-text-danger{
            top: 0;
        }
    
        .register-nav{
            width: 95px;
            left: 0;
            border: 1px solid $custom-purple;
        }
    
        .login-nav{
            left: 0px;
            width: 95px;
            background-color: $custom-purple;
            color: white
        }

        .navbar-item{
            bottom: 65px;
            right: 55px;
        }
    }
    } 

    .navbar-logged{
            background-color: $custom-purple;
        .navbar-menu{
            background-color: $custom-purple;
        }

        .logo{
            margin: 0;
            height: 95px;
            right: 0px;
            top: -50px;
            width: 130px;
        }
   }
}